* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rosa: #FF69B4;
    --rosinha: #DB7093;
    --areia-rosa: #FFC0CB;
    --rosona: #F5EFFF;
}

header {
    display: flex;
    width: 100%;
    background-color: var(--rosa);
    padding: 25px; /*espaçamento interno*/
    position: relative; /*posiciona em relação a posição inicial*/
    justify-content: center;
}

.menu-materias {
    width: 15%;
    display: inline-block;
}
