* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rosa: #FF69B4;
    --rosinha: #DB7093;
    --areia-rosa: #FFC0CB;
    --rosona: #F5EFFF;
}

header {
    display: flex;
    width: 100%;
    background-color: var(--rosa);
    padding: 25px; /*espaçamento interno*/
    position: relative; /*posiciona em relação a posição inicial*/
    justify-content: center;
}

.menu-materias {
    width: 15%;
    display: inline-block;
}

.botao-materias {
    cursor: pointer;
    font-size: 20px;
    background: none;
    background-color: var(--rosinha);
    border: none;
    border-radius: 5px;
    padding: 15px 12px;
    color: black;
}

.menu button {
    text-decoration: none;
    background-color: #DB7093;
    color: black;
    font-size: 18px 8px;
    padding: 5px 10px;
    margin: 0px 8px;
    border-radius: 5px;
}

.menu a {
    text-decoration: none;
    color: black;
}