* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --rosa: #FF69B4;
    --rosinha: #DB7093;
    --areia-rosa: #FFC0CB;
    --rosona: #F5EFFF;
}

header {
    display: flex;
    width: 100%;
    background-color: var(--rosa);
    padding: 25px; /*espaçamento interno*/
    position: relative; /*posiciona em relação a posição inicial*/
    justify-content: center;
}

.menu-materias {
    width: 15%;
    display: inline-block;
}

.botao-materias {
    cursor: pointer;
    font-size: 20px;
    background: none;
    background-color: var(--rosinha);
    border: none;
    border-radius: 5px;
    padding: 15px 12px;
    color: black;
}

.menu button {
    text-decoration: none;
    background-color: #DB7093;
    color: black;
    font-size: 18px 8px;
    padding: 5px 10px;
    margin: 0px 8px;
    border-radius: 5px;
}

.menu a {
    text-decoration: none;
    color: black;
}

#menu-toggle {
    display: none;
}

.lista {
    display: none;
    position: absolute;
    background-color: var(--rosinha);
    box-shadow: 0 2px 5px var(--rosona);
    min-width: 190px;
    z-index: 1;
    top: 100%;
    border-radius: 5px;
}

.lista b {
    color: black;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-align: center;
}

.lista b:hover {
    background-color: var(--areia-rosa);
}

#menu-toggle:checked ~ .lista {
    display: block;
}

#menu-toggle:checked + .botao-materias {
    background-color: white;
}

.pesquisa {
    margin-left: auto;
    margin-right: 20px;
}

body {
    background-color: var(--rosona);
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

ul {
    padding: 0;
    margin: auto;
}
